<!DOCTYPE html>
<html lang="fr">
<%- include('head.ejs') %>
<body>
    <header class="w-full h-96 flex flex-col">
        <nav class="w-full">
            <ul>
                <li>ACCUEIL</li>
                <li>FUTURES</li>
                <li>A PROPOS</li>
                <li>NOUS CONTACTER</li>
            </ul>
            <ul>
                <li><i class="fa-solid fa-circle-user"></i></li>
                <li><i class="fa-solid fa-heart"></i></li>
                <li><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
        </nav>
        <div id="heroHeader" class="w-full">

        </div>
    </header>
</body>
</html>